.friend-body{
    display: flex;
    justify-content: center;
    margin-top:60px;
}

.friend-body .friend{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color:#fff;
    width:600px;
    border:solid 1px #dadada;
    border-radius:6px;
    margin:20px;
}

.friend-body .friend .profile{
    display: flex;
    align-items: center;
    padding:10px;
    cursor:pointer;
}

.friend-body .friend .profile img{
    height:60px;
    width:60px;
    object-fit: cover;
}

.friend-body .friend .profile .name{
    margin-left:20px;
}

.friend-body .friend .profile .name p{
    margin-top:3px;
    margin-left:3px;
    color:#5a5a5a;
} 

.btn-friend button{
    padding:10px;
    width:100px;
    background:transparent;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight: bold;
}

.btn-friend .follow_btn:hover{
    background-color:#0d9e0d;
    color:#fff;
}

.btn-friend .follow_btn{
    border:solid 2px #0d9e0d;
    color:#0d9e0d;
}

.btn-friend .unfollow_btn{
    border:solid 2px #b90e0e;
    color:#b90e0e;
}

.btn-friend .unfollow_btn:hover{
    background-color:#b90e0e;
    color:#fff;
}


.success{
    position:absolute;
    background-color:#0d9e0d;
    color:#fff;
    padding:10px 20px;
    font-size:18px;
    border-radius:10px;
    top:80px;
    box-shadow:0px 3px 2px rgba(0,0,0,.3);
    cursor:pointer;
    display:none;
}

@media screen and (max-width:660px){
    .friend-body .friend{
        width:500px; 
    }
}

@media screen and (max-width:554px){
    .friend-list-container .friend{
        padding:20px 0px;
        width:280px;
        height:150px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-friend button{
        margin:20px;
    }
}

/*
@media screen and (max-width:450px){
    .friend-body .friend .profile img{
        width:40px;
        height:40px;
    }

    .friend-body .friend .profile .name h3{
        font-size:18px;
    }


    .btn-friend button{
        margin:20px;
    }
}*/
/*
@media screen and (max-width:350px){
    .friend-body .friend{
        width:300px;
    }

    .btn-friend button{
        margin:20px;
    }
}*/
